body {
  margin: 0px;
  padding: 0px;
  background-color: white;
}

.main {
  padding: 0px 30px;
}

.sidebar {
  background-color: #f3f6fa;
  height: 100vh;
  /* height: auto; */
  padding: 0px 30px;
}

.flex-display {
  display: flex;
}

/* markdown elements */

.title {
  color: #2a3f5f;
}

.subtitle {
  color: #2a3f5f;
}

/* Whatever suits the logo you have in your assets folder */

.logo {
  height: 50px;
  width: auto;
  padding-top: 40px;
  margin-left: -8px;
}

/* Custom dropdown styling */

.sidebar .dropdown {
  width: 95%;
}

.Select-clear-zone,
.Select-clear {
  cursor: not-allowed;
  pointer-events: none;
  display: none;
}

/* for screen sizes smaller than 900px (mobile) see stylesheet.css line 553 onwards */