body {
  margin: 0px;
  padding: 0px;
  background-color: white;
}

.main {
  padding: 0px 30px;
}

.sidebar {
  background-color: #f3f6fa;
  height: 100vh;
  /* height: auto; */
  padding: 0px 30px;
}

.logo {
  height: 40px;
  width: auto;
  padding-top: 5px;
  margin-left: -8px;
}

.title {
  color: #2a3f5f;
}

.subtitle {
  color: #2a3f5f;
}

.inline-subtitle {
  color: #2a3f5f;
}

.sidebar .dropdown {
  width: 95%;
}

.Select-clear-zone,
.Select-clear {
  cursor: not-allowed;
  pointer-events: none;
  display: none;
}

.flex-display,
.inline-div {
  display: flex;
}

.dropdown-div-inline {
  width: 90%;
}

.input {
  width: 5vw;
}

/* for screen sizes smaller than 900px (mobile) see stylesheet.css line 553 onwards */